:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --logo-color: #000000;
    --hero-background-color: #2F303A;
    --hero-var-background-color:#188CE8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #F5F4FA;
    --header-background-color: #FFFFFF;
    --hero-new-background-color: #C4C4C4;  
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));  
}

